

div.card-image{
	padding: 15px;
}

.input-field label {
	color: #212121;
}
/* label focus color */
.input-field input[type=text]:focus + label {
	color: #03A9F4;
}
/* label underline focus color */
.input-field input[type=text]:focus {
	border-bottom: 1px solid #03A9F4;
	box-shadow: 0 1px 0 0 #03A9F4;
}
/* valid color */
.input-field input[type=text].valid {
	border-bottom: 1px solid #00BCD4;
	box-shadow: 0 1px 0 0 #00BCD4;
}
/* invalid color */
.input-field input[type=text].invalid {
	border-bottom: 1px solid #D32F2F;
	box-shadow: 0 1px 0 0 #D32F2F;
}
/* icon prefix focus color */
.input-field .prefix.active {
	color: #03A9F4;
}

div.loading-circle{
	width: 50px;
	height: 50px;
	border-radius: 50%;
}

.circle-bottom{
	border: solid 5px #01579b;
	animation: bottom-move 5s linear infinite;
}

.circle-top{
	border: solid 5px #b3e5fc;
	animation: top-move 5s linear infinite;
}

.modal {
	width: 75% !important ;
	height: 75% !important ;
}

h5{
	text-align: center;
}

.loader{
	position: absolute;
	top :0;
	left: 0;
	right: 0;
	bottom: 0;
	margin: auto;
}

/*.center{
	position: fixed;
	top: 50%;
	left: 50%;
}*/

@keyframes top-move{
	0%{
		top: 50%;
		left: 50%;
	}

	20%{
		top: 50%;
		left: 60%;
	}

	40%{
		top: 25%;
		left: 50%;
	}

	60%{
		top: 50%;
		left: 40%;
	}

	80%{
		top: 75%;
		left: 50%;
	}

	100%{
		top: 50%;
		left: 50%;
	}
}

@keyframes bottom-move{
	0%{
		top: 50%;
		left: 50%;
	}

	20%{
		top: 50%;
		left: 40%;
	}

	40%{
		top: 75%;
		left: 50%;
	}

	60%{
		top: 50%;
		left: 60%;
	}

	80%{
		top: 25%;
		left: 50%;
	}

	100%{
		top: 50%;
		left: 50%;
	}
}